html, body{
    width: 100%;
    box-sizing: border-box;
    background-color: #6645eb;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
}

#resumeBody{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

h2{
    padding: 0;
    margin: 0;
    color: black;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3px;
    width: 45%;
    background-color: #fff;
    border-radius: 5px;
}

.form-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.form-control {
    display: block;
    height: 42px;
    border: 1px solid #e6e6e6;
    background: none;
    min-width: 50%;
    padding: 0 18px;
}

.form-control:focus {
    border-color: #f3d4b7
}

.form-control::-webkit-input-placeholder {
    color: #999;
    font-size: 13px
}

.form-control::-moz-placeholder {
    color: #999;
    font-size: 13px
}

.form-control:-ms-input-placeholder {
    color: #999;
    font-size: 13px
}

.form-control:-moz-placeholder {
    color: #999;
    font-size: 13px
}

#experienceForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#uiDisplay{
    border: 2px solid black;
    width: 50%;
}

@media only screen and (min-width: 320px) {
    html,body{
        width: 100%;
    }

    #form{
        width: 100%;
    }
    
    #resumeBody{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }

    #uiDisplay{
        width: 100%;
        min-height: 736px;
        border-radius: 5px;
    }

    #uiDisplay h1{
        font-size: 1em;
    }

    .form-div input{
        max-width: 60%;
    }
}

@media only screen and (min-width: 768px){
    #resumeBody{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        width: 50%;
    }
}