html, body{
    width: 100%;
    box-sizing: border-box;
    background-color: #6645eb;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    padding: 0;
    margin: 0;
    color: lightcyan;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 3px;
    width: 45%;
    background-color: #fff;
    border-radius: 5px;
}

.form-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.form-control {
    display: block;
    height: 42px;
    border: 1px solid #e6e6e6;
    background: none;
    min-width: 50%;
    padding: 0 18px;
}

.form-control:focus {
    border-color: #f3d4b7
}

.form-control::-webkit-input-placeholder {
    color: #999;
    font-size: 13px
}

.form-control::-moz-placeholder {
    color: #999;
    font-size: 13px
}

.form-control:-ms-input-placeholder {
    color: #999;
    font-size: 13px
}

.form-control:-moz-placeholder {
    color: #999;
    font-size: 13px
}

#experienceForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}